<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Market Analysis Tool</title>
    <script src="{{ url_for('static', filename='plotly/dist/plotly.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function toggleSearchBoxes() {
            var numStocks = document.querySelector('input[name="num"]:checked').value;
            
            var stockInputs = document.querySelectorAll('.stock-input');
            
            for (var i = 0; i < stockInputs.length; i++) {
                if (i < numStocks) {
                    stockInputs[i].style.display = 'block';
                } else {
                    stockInputs[i].style.display = 'none';
                }
            }
        }
    </script>
</head>
<body>

    <div id="content-wrapper" style="text-align: centre;">
        <h1 style="text-align: centre;">Stock Analysis Tool</h1>

        <form method="POST">
        
           <div class="label-input-group">
            <label>Number of stocks for Analysis:</label>
            <input type="radio" name="num" value="1" {% if request.form.get('num') == '1' %}checked{% endif %} onclick="toggleSearchBoxes()" style="background-color: black;"> <span style="color: white; background-color: black;">1</span>
            <input type="radio" name="num" value="2" {% if request.form.get('num') == '2' %}checked{% endif %} onclick="toggleSearchBoxes()" style="background-color: black;"> <span style="color: white; background-color: black;">2</span>
        </div>
        
        <div class="label-input-group stock-input">
            <label for="stock">Enter Stock Name:</label>
            <input type="text" id="stock" name="stock" list="stock-options" placeholder="Type to search" value="{{ request.form.get('stock') }}">
            <datalist id="stock-options">
                {% for stock_option in stock_options %}
                    <option value="{{ stock_option }}">{{ stock_option }}</option>
                {% endfor %}
            </datalist>
        </div>


        <div class="label-input-group stock-input">
            <label for="stock2">Enter Stock Name:</label>
            <input type="text" id="stock2" name="stock2" list="stock-options" placeholder="Type to search" value="{{ request.form.get('stock2') }}">
            <datalist id="stock-options">
                {% for stock_option in stock_options %}
                    <option value="{{ stock_option }}">{{ stock_option }}</option>
                {% endfor %}
            </datalist>
        </div>

        <div class="label-input-group">
            <label for="start_date">Start Date:</label>
            <input type="date" name="start_date" value="{{ request.form.get('start_date') }}">
        </div>

        <div class="label-input-group">
            <label for="end_date">End Date:</label>
            <input type="date" name="end_date" value="{{ request.form.get('end_date') }}">
        </div>

        <div class="label-input-group">
            <label>Choose website for scrapping:</label>
            <input type="radio" name="website" value="BSE" {% if request.form.get('website') == 'BSE' %}checked{% endif %}> <span style="color: white; background-color: black;">BSE</span>
            <input type="radio" name="website" value="NSE" {% if request.form.get('website') == 'NSE' %}checked{% endif %}> <span style="color: white; background-color: black;">NSE</span>
         </div>


        <button type="submit">Search</button>

        </form>


<h2 style="text-align: left;">Search Results:</h2>

<div style="display: flex; flex-direction: row;">

    {% if num_stocks == 1 %}
        <div style="flex: 1;">
            {% if graph_html1 %}
        <div style="display: flex; flex-direction: row;">

            <div style="flex: 1;">
                {% if graph_html1 %}
                    <div>
                        {{ graph_html1 | safe }}
                    </div>
                {% endif %}
            </div>

            <div style="flex: 1;">
                {% if graph_html2 %}
                    <div>
                        {{ graph_html2 | safe }}
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    {% elif num_stocks == 2 %}
        <div style="flex: 1;">
            {% if comparison_graph_html %}
                <div>
                    {{ comparison_graph_html | safe }}
                </div>
            {% endif %}
        </div>
    {% endif %}

</div>







    </div>

</body>
</html>
